* {
	box-sizing: border-box;
}*

@font-face {
	font-family: "cuprum";	
	src: url('/fonts/cumpur.ttf');
}

body,html {
	margin:0;
	padding:0;
	font-family: "Cuprum";
}
 
.header_main {
	display:flex;
	margin:0 auto;
	width:90vw;
	justify-content: space-between;
}

.header_menu {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	height:70px;
}



.header_logo {
	align-self: center;
	width:82px;
	height:82px;
	background: url('img/header_logo.png') no-repeat ;
	background-size:contain;
}

.nav {
	height: 50px;
	width: 100%;
	background-color: #4d4d4d;
	position: fixed;
	z-index:1;
  }
  
  .nav > .nav-header {
	display: inline;
  }
  
  .nav > .nav-header > .nav-title {
	display: inline-block;
	font-size: 22px;
	color: #fff;
	padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
	display: none;
  }
  
  .nav > .nav-links {
	display: inline;
	float: right;
	font-size: 18px;
  }
  
  .nav > .nav-links > a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
	background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
	display: none;
  }

.numbers {
	padding:5px;
	align-self:flex-end;
	font-size: 18px;
	color: rgb(245, 211, 13);
	text-align:right;
	padding-top:5px;
	background-color: rgb(0, 0, 0);
	width: 165px;
	height: 35px;
	border-radius: 10px;
	border-top-left-radius:100px 0px;
	border-bottom-left-radius:100px 40px;	
}

.first_page {
	padding-top:50px;
	background-color:lightgray;
	height:820px;
}

.first_page_top {
	display:flex;
	justify-content:space-between;
	width:90vw;
	margin:0 auto;
}

form > :first-child {
	background:url('img/name.png')no-repeat 5%;
	background-size:8%;
	padding-left:35px;
	background-color:white;
	border-radius: 10px;
	box-shadow: inset 0px 0px 3px 0px rgba(23, 23, 24, 0.75);
	height: 41px;	
}


form > :nth-child(2) {
	outline:none;
	background:url('img/phone.png')no-repeat 5%;
	background-size:8%;
	padding-left:35px;
	background-color:white;
	border-radius: 10px;
	box-shadow: inset 0px 0px 3px 0px rgba(23, 23, 24, 0.75);
	height: 41px;	
}

input {
	border:0;
}

form > :nth-child(3) {
	border-radius: 10px;
	color:white;
	background-color:black;
	height:41px;
	font-weight:400;
	font-size:20px;
}

iframe {
	width:535px;
  height:310px;
	position:relative;
	left:28px;
	top:20px;
}

.first_page_top> div:first-child {
	position:relative;
	top:20px;
	background: url('img/first_page_monitor.png')no-repeat;	
	background-size:contain;
	width:590px;
	height: 560px;	
}

.feedback {
	position: relative;
    top: 20px;
	width:280px;
	height:425px;
	display:flex;
	justify-content:space-between;
	flex-direction:column;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(249, 221, 10);
	border-radius: 20px;
	background-image: -moz-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%);
	box-shadow: 0px 3px 0px 0px rgba(23, 23, 24, 0.1);
	padding:24px 24px 24px 24px;
}

.feedback>form {
 width:240px;
 height:185px;
 display:flex;
 justify-content:space-between;
 flex-direction:column;
}

.feedback>:first-child {
	font-size: 150%;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;	
}

.feedback>:nth-child(2){
	font-size: 17px;
	line-height: 1.2;
	text-align: left;
}

footer {
	background-color:black;
}

.cellar {
	font-size: 17px;
	color: rgb(255, 255, 255);
  display:flex;
  justify-content:space-between;
  height:150px;
  width:90vw;
	margin:0 auto;
	
}

.cellar div:first-child {
	align-self:center;
}

.cellar div:nth-child(2) {
	padding-bottom:40px;
	align-self:flex-end;
}

.first_page_title {
	width:90vw;
	margin:0 auto;
	padding-top:40px;
}

.first_page_title div:first-child {	
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;	
}

.first_page_title div:nth-child(2){	
	font-size: 17px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	padding:20px 0px 20px 0px;		
}

.why {
	height:430px;
	background-image: -moz-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%);
}

.why>:first-child {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top:20px;	
}

.why_content>div:nth-child(3){
	height:237px;
}

.why_content {
	position:relative;
	top:20px;
	max-width:60%;
	height:225px;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
	text-align:center;
}

.why_content>div>:last-child{
	font-size: 17px;
	line-height: 1.2;	
}

.why_content>div {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	height:217px;
	width:165px;
}

.why_content>div:first-child{
	height:202px;
}

.why_content>:first-child>:nth-child(1) {
	background:url('img/why_pig.png')no-repeat;
	background-size:contain;
	height:165px;
}

.why_content>:nth-child(2)>:nth-child(1){
	background:url('img/why_cup.png')no-repeat;
	background-size:contain;
	height:165px;
}

.why_content>:nth-child(3)>:nth-child(1) {
	background:url('img/why_medal.png')no-repeat;
	background-size:contain;
	height:165px;
}

.why_content>:nth-child(4)>:nth-child(1) {
	background-size:contain;
	background:url('img/why_coins.png')no-repeat;
	height:165px;
}

.some_numbers {
	color:white;
	background-image:url('img/back_numbers.png');
	height:330px;
}

.some_numbers>:first-child {
	position:relative;
	top:30px;
	margin:0 auto;
	width:346px;
	height:36px;
	background:url('img/some_numbers.png');
}

.some_numbers_content {
	position:relative;
	top:50px;
	display:flex;
	justify-content: space-between;
	max-width:40%;
	margin:0 auto;
}

.some_numbers_content>div {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	width:165px;
	height:200px;
}

.some_numbers_content>div>:last-child {
	font-size: 17px;
	line-height: 1.2;
  text-align:center;
}

.some_numbers_content>:first-child>:nth-child(1){
	background:url('img/twenty_years.png');
	width:163px;
	height:162px;
}

.some_numbers_content>:nth-child(2)>:nth-child(1){
	background:url('img/more_than.png');
	width:163px;
	height:162px;
}

.some_numbers_content>:nth-child(3)>:nth-child(1){
	background:url('img/winners.png');
	width:163px;
	height:162px;
}

.some_numbers_content>div:last-child{
	height:215px;
}

.examples {
	height:850px;
}

.examples>div:first-child {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;	
	margin:0 auto;
	width:max-content;
	padding:30px 0px 30px 0px;
}

.examples_content {
	width:820px;
	height:700px;
	margin:0 auto;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr ;
	grid-template-columns: repeat(4,200px);
	grid-gap: 2vw;
}

.examples_content > div {
	font-size: 17px;
	line-height: 1.2;
	text-align: left;		
	height:max-content;
	display:flex;
	flex-direction:column;
}

.examples_content >div>:first-child {
	height:150px;
	padding:5px 5px 5px 5px;
}

.examples_content>div>:last-child {
	padding:5px 0px 0px 0px;
}

.examples_content >div:nth-child(1)>:first-child {
	background:url('img/Layer_5.png') no-repeat;
	background-size:contain;
}

.examples_content >div:nth-child(2)>:first-child {
	background:url('img/Layer_7.png') no-repeat;
	background-size:contain;
}

.examples_content >div:nth-child(3)>:first-child {
	background:url('img/Layer_16.png') no-repeat;
	background-size:contain;
}

.examples_content >div:nth-child(4)>:first-child {
	background:url('img/Layer_19.png') no-repeat;
	background-size:contain;
}

.examples_content >div:nth-child(5)>:first-child {
	background:url('img/Layer_8.png') no-repeat;
	background-size:contain;
}

.examples_content >div:nth-child(6)>:first-child {
	background:url('img/Layer_9.png') no-repeat;
	background-size:contain;
}

.examples_content >div:nth-child(7)>:first-child {
	background:url('img/Layer_15.png') no-repeat;
	background-size:contain;
}

.examples_content >div:nth-child(8)>:first-child {
	background:url('img/Layer_17.png') no-repeat;
	background-size:contain;
}

.examples_content >div:nth-child(9)>:first-child {
	background:url('img/Layer_10.png') no-repeat;
	background-size:contain;
}

.examples_content >div:nth-child(10)>:first-child {
	background:url('img/Layer_11.png') no-repeat;
	background-size:contain;
}

.examples_content >div:nth-child(11)>:first-child {
	background:url('img/Layer_12.png') no-repeat;
	background-size:contain;
}

.examples_content >div:nth-child(12)>:first-child {
	background:url('img/Layer_14.png') no-repeat;
	background-size:contain;
}

.awards {
	height:660px;
	background-image: -moz-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%);
}

.awards>div:first-child {
	padding:40px 0px 30px 0px;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	margin:0 auto;
	width:max-content;
}

.awards>div:nth-child(2){
	margin:0 auto;
	display:flex;
	max-width:80%;
	justify-content:space-between;
}

.awards>div:nth-child(2)>:nth-child(1){
	background:url('img/one_star.png')no-repeat;
	background-size:contain;
	width:280px;
	height:280px;
}

.awards>div:nth-child(2)>:nth-child(2){
	background:url('img/new_age.png')no-repeat;
	background-size:contain;
	width:280px;
	height:280px;
}

.awards>div:nth-child(2)>:nth-child(3){
	background:url('img/red_apple.png')no-repeat;
	background-size:contain;
	width:280px;
	height:280px;
}

.awards>div:nth-child(3) {
	max-width:80%;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
}

.awards>div:nth-child(3)>div{
	font-size: 17px;
	line-height: 1.2;
	text-align: left;
	width:290px;
	position:relative;
	top:30px;
}

.partners {
	height:680px;
}

.partners>:first-child {
	width:max-content;
	margin:0 auto;
	padding:35px 0px 35px 0px;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}

.partners_content {
	width:815px;
	margin:0 auto;
	display:grid;
	grid-template-rows: 72px 100px 87px ;
	grid-template-columns: 165px 295px 175px 180px;
	grid-gap:30px;
}

.last_row {
	position:relative;
	top:20px;
	margin:0 auto;
	width:595px;
	height:100px;
	display:flex;
	justify-content:space-between;
}

.partners_content>div {
	background-size:contain;
	position:relative;
}

.partners_content>:nth-child(1){
	top:5px;
	background:url('img/Vector Smart Object-3.png')no-repeat;
}

.partners_content>:nth-child(2){
	bottom:13px;
	background:url('img/Vector Smart Object-2.png')no-repeat;
}

.partners_content>:nth-child(3){
	top:8px;
	background:url('img/Vector Smart Object-4.png')no-repeat;
}

.partners_content>:nth-child(4){
	background:url('img/Vector Smart Object-7.png')no-repeat;
}

.partners_content>:nth-child(5){
	top:8px;
	background:url('img/Vector Smart Object-9.png')no-repeat center;
}

.partners_content>:nth-child(6){
	left:25px;
	background:url('img/Vector Smart Object-5.png')no-repeat center;
}
.partners_content>:nth-child(7){
	top:8px;
	background:url('img/Vector Smart Object-8.png')no-repeat center;
}
.partners_content>:nth-child(8){
	background:url('img/Vector Smart Object-10.png')no-repeat;
}
.partners_content>:nth-child(9){
	top:15px;
	background:url('img/Vector Smart Object-6.png')no-repeat;
}
.partners_content>:nth-child(10){
	background:url('img/Vector Smart Object-13.png')no-repeat;
}
.partners_content>:nth-child(11){
	top:8px;
	background:url('img/Layer_18.png')no-repeat;
}
.partners_content>:nth-child(12){
	background:url('img/Vector Smart Object-18.png')no-repeat;
}

.last_row>:nth-child(1){
	width:80px;
	height:92px;
	background:url('img/Vector Smart Object-15.png')no-repeat;
}
.last_row>:nth-child(2){
	width:132px;
	height:86px;
	background:url('img/Vector Smart Object-14.png')no-repeat;
}
.last_row>:nth-child(3){
	width:113px;
	height:95px;
	background:url('img/Vector Smart Object-16.png')no-repeat;
}
.last_row>:nth-child(4){
	width:135px;
	height:90px;
	background:url('img/Vector Smart Object-17.png')no-repeat;
}

#map {
	width:100%;
	height:600px;
}

.we_can {
	color:white;
	height:660px;
	background:url('img/we_can.png')no-repeat center;
}

.we_can_content {
	position:relative;
	top:80px;
	height:80%;
	width:910px;
	margin:0 auto;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.we_can_content> :first-child {
	font-size: 40px;
	font-weight: bold;	  
}

.we_can_content >div {
	margin:0 auto;
	text-align:center;
}

.we_can_content >:nth-child(2){
	position:relative;
	top:25px;
	width:395px;
	height:80px;
	display:flex;
	flex-wrap: wrap;
	margin:0 auto;
}

.we_can_content>:nth-child(3){
	margin-top:auto;
	padding:0px 0px 10px 0px;
}

.we_can_content >:nth-child(2)>div {
	padding:5px 5px 5px 5px;
	margin:0 auto;
}

.we_can_content>form {
	margin:0 auto;
	display:flex;
	width:815px;
	justify-content:space-between;
	align-items:center;
}

.we_can_content>form > :first-child {
	width:240px;
	background:url('img/name.png')no-repeat 5%;
	background-color:white;
	border-radius: 10px;
	box-shadow: inset 0px 0px 3px 0px rgba(23, 23, 24, 0.75);
	height: 41px;	
}



.we_can_content>form > :nth-child(2) {
	width:240px;
	background:url('img/phone.png')no-repeat 5%;
	background-color:white;
	border-radius: 10px;
	box-shadow: inset 0px 0px 3px 0px rgba(23, 23, 24, 0.75);
	height: 41px;	
}

.we_can_content> form > :nth-child(3) {
	width:240px;
	border-radius: 10px;
	color: black;
	background-color:yellow;
	font-weight:bold;
	height:41px;
	font-weight:400;
	font-size:20px;
}




@media (max-width: 900px){ 
	.nav > .nav-links > a:hover {
		background-color: white;
	  }
	.nav > .nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	  }
	  .nav > .nav-btn > label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	  }
	  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
		background-color: rgba(0, 0, 0, 0.3);
	  }
	  .nav > .nav-btn > label > span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #eee;
	  }
	  .nav > .nav-links {
		display: block;
		width: 100%;
		background-color: #333;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0px;
	  }
	  .nav > .nav-links > a {
		display: block;
		width: 100%;
	  }
	  .nav > #nav-check:not(:checked) ~ .nav-links {
		height: 0px;
	  }
	  .nav > #nav-check:checked ~ .nav-links {
		height: max-content;
		overflow-y: auto;
	  }
	
	.we_can_content> :first-child {
		font-size: 20px;
	}

	.we_can_content >form {
		display:flex;
		flex-direction:column;
		margin:0 auto;
		width:50%;
	}
	
	.we_can_content {
		width:100%;
	}
	
	.examples>div:first-child {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 auto;
    width: max-content;
    padding: 30px 0px 30px 0px;
}

.awards>div:first-child {
	padding: 40px 0px 30px 0px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	margin: 0 auto;
	width: max-content;
}

.partners>:first-child {
	width: max-content;
	margin: 0 auto;
	padding: 35px 0px 35px 0px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}
	.cellar {
		font-size:10px;
	}

	.cellar div:nth-child(2) {
    padding-bottom: 50px;
    align-self: flex-end;
}

	.why_content>:first-child>:nth-child(1) {
    background: url(img/why_pig.png)no-repeat;
    background-size: contain;
}

.why_content>div:first-child {
	height:105px;
}

.why_content>div:nth-child(2){
	height:115px;
}

.why_content>div:nth-child(3) {
	height: 125px;
}

.partners {
	height:max-content;
}

.partners_content {
	width:90vw;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 72px 100px 87px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap:20px 90px;
}

.partners_content>:nth-child(1) {
	background-size:contain;
	top:0;
}
.partners_content>:nth-child(2){
	bottom:0;
	background-size:contain;
}
.partners_content>:nth-child(3){
	background-size:contain;
	top:0;
}
.partners_content>:nth-child(4),.partners_content>:nth-child(5),.partners_content>:nth-child(6),.partners_content>:nth-child(7),.partners_content>:nth-child(8),.partners_content>:nth-child(9),.partners_content>:nth-child(10),.partners_content>:nth-child(11),.partners_content>:nth-child(12),.partners_content>:nth-child(13),.partners_content>:nth-child(14),.partners_content>:nth-child(15),.partners_content>:nth-child(16),.partners_content>:nth-child(17),.partners_content>:nth-child(18),.partners_content>:nth-child(19),.partners_content>:nth-child(20){
	background-size:contain;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.partners_content>:nth-child(14){
	top:10px;
}

.last_row>:nth-child(1) {
	width: 50px;
	background-size:contain;
}

.last_row>:nth-child(2) {
	width: 70px;
	background-size:contain;
}

.last_row>:nth-child(3) {
	width: 60px;
	background-size:contain;
	padding:5px;
}

.some_numbers>:first-child {
	position: relative;
	top: 30px;
	margin: 0 auto;
	width: 246px;
	height: 36px;
	background-size:contain;
	background-repeat:no-repeat;
}

.some_numbers_content>div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 120px;
	height: 150px;
}

.some_numbers_content {
	max-width:90%;
	justify-content:space-around;
}

.feedback>:first-child {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;	
}

.feedback>:nth-child(2){
	font-size: 10px;
	line-height: 1.2;
	text-align: left;
}

.some_numbers_content>:first-child>:nth-child(1) {
	background: url(img/twenty_years.png);
	width: 120px;
	height: 120px;
	background-size:contain;
}

.some_numbers_content>:nth-child(2)>:nth-child(1) {
	background: url(img/more_than.png);
	width: 120px;
	height: 120px;
	background-size:contain;
}

.some_numbers_content>:nth-child(3)>:nth-child(1) {
	background: url(img/winners.png);
	width: 120px;
	height: 120px;
	background-size:contain;
}
.some_numbers_content>div:last-child {
	height: 160px;
}

.some_numbers_content>div>:last-child {
	font-size: 12px;
	line-height: 1.2;
	text-align: center;
}

.last_row {
	width:90vw;
}

.last_row>:nth-child(4) {
	width: 70px;
	background-size:contain;
}

.examples_content > div {
	font-size: 10px;
	line-height: 1.2;
	justify-content: start;
}

.why_content>div>:last-child {
	font-size: 10px;
	line-height: 1.2;
}

.forst_page_title {
	height:0;
}

.why {
	height:max-content;
}


.first_page_title div:first-child {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}

.first_page_title div:nth-child(2) {
	font-size: 10px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	padding: 20px 0px 20px 0px;
}

	.awards>div:nth-child(3)>div{
		font-size:10px;
		line-height: 1.2;
		text-align: left;
		width:290px;
		position:relative;
	}

	.why_content {
		position:relative;
		top:20px;
		height:225px;
		margin:0 auto;
		display:flex;
	  flex-wrap:wrap;
		justify-content:space-between;
		text-align:center;
	}

	.why>:first-child {
		font-size: 13px;
		text-align:center;
}

	.why_content>div {
		width:90px;
		height:110px;
	}

	
	.why_content>:nth-child(2)>:nth-child(1){
		background:url('img/why_cup.png')no-repeat center;
    background-size:contain;

	}
	
	.why_content>:nth-child(3)>:nth-child(1) {
		background:url('img/why_medal.png')no-repeat center;
		background-size:contain;
	}
	
	.why_content>:nth-child(4)>:nth-child(1) {
		background:url('img/why_coins.png')no-repeat center ;
		background-size:contain;
	}

	.examples_content >div>:first-child {
		width:110px;
		height:100px;
		padding:5px 5px 5px 5px;
		background-size:contain;
	}


.awards>div:nth-child(2)>:nth-child(1) {
	background: url(img/one_star.png)no-repeat;
	background-size: contain;
	width: 280px;
	height:150px;
}

.awards>div:nth-child(2)>:nth-child(2) {
	background: url(img/new_age.png)no-repeat;
	background-size: contain;
	width: 280px;
	height:150px;
}

.awards>div:nth-child(2)>:nth-child(3) {
	background: url(img/red_apple.png)no-repeat;
	background-size: contain;
	width: 280px;
	height:150px
}

.awards {
	height:500px;
}
	
	.examples_content>div>:last-child {
		padding:5px 0px 0px 0px;
		width:auto;
		justify-self:flex-end;
	}
	
	.examples_content >div:nth-child(1)>:first-child {
		background:url('img/Layer_5.png') no-repeat;
		background-size:contain;
	}
	
	.examples_content >div:nth-child(2)>:first-child {
		background:url('img/Layer_7.png') no-repeat;
		background-size:contain;
	}
	
	.examples_content >div:nth-child(3):first-child {
		background:url('img/Layer_16.png') no-repeat;
		background-size:contain;
	}
	
	.examples_content >div:nth-child(4):first-child {
		background:url('img/Layer_19.png') no-repeat;
		background-size:contain;
	}
	
	.examples_content >div:nth-child(5):first-child {
		background:url('img/Layer_8.png') no-repeat;
		background-size:contain;
	}
	
	.examples_content >div:nth-child(6):first-child {
		background:url('img/Layer_9.png') no-repeat;
		background-size:contain;
	}
	
	.examples_content >div:nth-child(7):first-child {
		background:url('img/Layer_15.png') no-repeat;
		background-size:contain;
	}
	
	.examples_content >div:nth-child(8):first-child {
		background:url('img/Layer_17.png') no-repeat;
		background-size:contain;
	}
	
	.examples_content >div:nth-child(9):first-child {
		background:url('img/Layer_10.png') no-repeat;
		width:200px;
	}
	
	.examples_content >div:nth-child(10):first-child {
		background:url('img/Layer_11.png') no-repeat;
		background-size:contain;
	}
	
	.examples_content >div:nth-child(11):first-child {
		background:url('img/Layer_12.png') no-repeat;
		background-size:contain;
	}
	
	.examples_content >div:nth-child(12):first-child {
		background:url('img/Layer_14.png') no-repeat;
		background-size:contain;
	}

	.examples_content {
    width:350px;
		height: 700px;
		
    margin: 0 auto;
    display: grid;
    grid-template-rows: 180px 180px 180px;
    grid-template-columns: repeat(3,110px);
    grid-gap: 2vw;
}

#map {
	width:100%;
	height:600px;
}


iframe {
	width:200px;
  height:115px;
	position:relative;
	left:5px;
	top:5px;
}

.feedback {
	height:270px;
	position:relative;
	top:10px;	
	width:200px;
}

.first_page {
	height:max-content;
}

.feedback>form {
	width:150px;
	height:85px;
}

.first_page_top {
	display: flex;
	flex-direction:column;
	width: 250px;
	margin: 0 auto;
}

.first_page_top> div:first-child {
	position: relative;
	top: 20px;
	background: url(img/first_page_monitor.png)no-repeat;
	background-size: contain;
	width:250px;
	height:200px;
}

body{
	overflow-x: hidden;
}
	
 }


